<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size="12">
            <ion-segment value="brasil">
                <ion-segment-button value="brasil" routerLink="/brasil">
                    <ion-label for="">Brasil</ion-label >
                </ion-segment-button>
                <ion-segment-button value="china" routerLink="/china">
                    <ion-label for="">China</ion-label>
                </ion-segment-button>
                <ion-segment-button value="india" routerLink="/india">
                    <ion-label for="">India</ion-label>
                </ion-segment-button>
                <ion-segment-button value="mexico" routerLink="/mexico">
                    <ion-label for="">Mexico</ion-label>
                </ion-segment-button>
                <ion-segment-button value="italia" routerLink="/italia">
                    <ion-label for="">Itália</ion-label>
                </ion-segment-button>
        </ion-segment>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        Cristo Redentor
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Mussum Ipsum, cacilds vidis litro abertis.  Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Per aumento de cachacis, eu reclamis.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        Muralha da China
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Mussum Ipsum, cacilds vidis litro abertis.  Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Per aumento de cachacis, eu reclamis.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        Taj Mahal
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Mussum Ipsum, cacilds vidis litro abertis.  Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Per aumento de cachacis, eu reclamis.
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>